;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]
 
 :dependencies
 [[reagent/reagent "1.2.0"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target :browser
   :modules {:components {:entries [chera.components]}
             :cv-2023    {:entries [chera.cv-2023]
                          :depends-on #{:components}
                          :init-fn chera.cv-2023/init}
             :cv-2019    {:entries [chera.cv-2019]
                          :depends-on #{:components}
                          :init-fn chera.cv-2019/init}}}}}
